.App {
  text-align: center;
}

.fileInputButton {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.fileInputButton:hover {
  background-color: #3e8e41;
}

input[type="file"] {
  display: none;
}