.App {
  text-align: center;
  margin: 20px;
}

.fileInputButton {
  display: inline-block;
  /* padding: 5px 5px 5px 5px; */
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 150px;
  padding: 10px 10px;
  /* padding: 5px 5px 5px 5px; */
}

.fileInputButton:hover {
  background-color: #3e8e41;
}

.submit {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  background-color: #52b8f8;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

}

.submit:hover {
  background-color: #009dff;
}

input[type="file"] {
  display: none;
}

.grid-overlay-container {
  /* width: 100%;
  height: 80%; */
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.image-container {

  width: 50%;
  height: 50%;
  position: relative;


  /*
  position: relative;
  width: 30%;
  max-width: 800px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden; */
}

.grid-overlay-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1px;

  /*display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;*/
}

.grid-cell {
  /*background-color: red;
  opacity: 0.3;*/

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5252;
  transition: background-color 0.2s ease-in-out;
  opacity: 0.2;
}

.grid-cell.red {
  background-color: red;
  opacity: 0.2;
}

.grid-cell.yellow {
  background-color: yellow;
  opacity: 0.2;
}

.grid-cell.green {
  background-color: green;
  opacity: 0.2;
}

.grid-cell.blue {
  background-color: blue;
  opacity: 0.2;
}

.grid-cell.purple {
  background-color: purple;
  opacity: 0.2;
}

.grid-cell.hovered {
  background-color: #3498db;
  opacity: 0.8;

}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #3498db;
  padding: 8px 16px;
  border-radius: 4px;
  pointer-events: none;
  width: 250%;
}

.grid-cell.hovered.left-half .text {
  right: auto;
  left: -50px;
}

.grid-cell.hovered.right-half .text {
  left: auto;
  right: -50px;
}


.button-group {
  /* border: 2px solid blue; */
  /* flex-direction: row; */
  /* flex: 1;  */

  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  /* text-align: right; */
  /* justify-content: right; */
}

.button {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  /* width: 120px; */
  max-width: 150px;
  padding: 10px 20px;
  margin: 5px 5px 5px 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  background-color: rgb(175, 124, 237);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  
}

.button:hover {
  background-color: rgb(142, 62, 240);
}

.sub-group {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  justify-content: center;
}

.hover-text {
  font-size: 12px;
}

.Legend {
  position: fixed;
  right: 50px; bottom: 50px;
}

.legend_row {
  flex-direction: row;
  display: flex;
}

.legend_button {
  height: 40px;
  width: 40px;
  margin: 0px 20px;
}

.legend_purple {
  background-color: purple;
  opacity: 0.4;
}

.legend_blue {
  background-color: blue;
  opacity: 0.4;
}

.legend_green {
  background-color: green;
  opacity: 0.4;
}

.legend_yellow {
  background-color: yellow;
  opacity: 0.4;
}

.legend_red {
  background-color: red;
  opacity: 0.4;
}

.legend_text {
  text-align: center;
}

